<div class="box user">
  <h2 class="centered"><%= @user.username %></h2>

  <h3>Your Books</h3>

  <% if @user.books.any? %>
    <ul>
      <% @user.books.each do |b| %>
        <h4><%= link_to "#{b.title}", user_book_path(@user, b) %> - <%= b.pagecount %> pages
          <% if b.current_reading %>
          - <%= link_to 'Finish reading', edit_user_book_reading_path(@user, b, b.current_reading.first), class: 'btn link-btn' %></h4>
          <% end %>

          <% if b.readings.any? %>
            <% unless b.current_reading %>
              <li>Last page read: <%= b.last_page_read %></li>
            <% end %>
          <% else %>
            <li>Start reading!</li>
          <% end %>

          <% if b.readings.any? %>
            <% unless b.last_page_read == b.pagecount %>
              <li><%= link_to 'Read it!', new_user_book_reading_path(@user, b), class: 'btn link-btn' %></li>
            <% end %>
          <% end %>

      <% end %>
    </ul>
  <% else %>
    <p><em>No books on your reading list yet.</em></p>
  <% end %>
  <div class="centered top-m-40">
    <%= link_to "Add a book", new_user_book_path(@user, @book), class: 'btn link-btn reverse-btn' %>
  </div>
</div>