<div class="box book">
  <h2 class="centered"><%= @book.title %></h2>

  <% if @book.description %>
    <p><%= @book.description %></p>
  <% else %>
    <p><em>What's this book about? <%= link_to "Add a description", edit_user_book_path(@user, @book) %></em></p>
  <% end %>

  <p><em><%= @book.pagecount %> pages total</em></p>

  <% if @book.readings.any? %>
    <h4>Readings</h4>
    <% @book.readings.sort { |a,b| b.startpage <=> a.startpage }.each do |r| %>
      <% if r.open_reading? %>
        <p><%= r.startpage %> ... <%= link_to "Finish reading", edit_user_book_reading_path(@user, @book, r), class: 'btn link-btn' %></p>
      <% else %>
        <p><%= r.endpage - r.startpage %> pages read on <%= r.endtime.strftime("%b. %e") %> - p. <%= r.endpage %> <%= link_to "Edit", edit_user_book_reading_path(@user, @book, r), class: "btn link-btn marg-left" %></p>
      <% end %>
    <% end %>
    <p><%= link_to 'Keep reading', new_user_book_reading_path(@user, @book) %></p>
  <% else %>
    <p><em>You haven't started reading this book yet?</em></p>
    <p><%= link_to 'Start reading?', new_user_book_reading_path(@user, @book) %></p>
  <% end %>
</div>